@page "/user"
@using FormsApp.Data
@inject NavigationManager Navigation
@inject LocalizationService Loc

@code {
    private string activeTab = "templates";
    private void SetTab(string tab) 
    {
        activeTab = tab;
    }
}

<PageTitle>@Loc["MyData"]</PageTitle>

<div class="container mt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(activeTab == "templates" ? "active" : "")" href="#" @onclick='() => SetTab("templates")' @onclick:preventDefault>@Loc["MyTemplates"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(activeTab == "forms" ? "active" : "")" href="#" @onclick='() => SetTab("forms")' @onclick:preventDefault>@Loc["MyForms"]</a>
        </li>
    </ul>
    <div class="tab-content mt-3">
        @if (activeTab == "templates")
        {
            <FormsApp.Pages.UserComponents.UserTemplates />
        }
        @if (activeTab == "forms")
        {
            <FormsApp.Pages.UserComponents.UserForms />
        }
    </div>
</div> 
